table {
  border-color: #800080;
  border-collapse: collapse;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #e495e4;
}

tr:nth-child(odd) {
  background-color: #ff33cc; 
  
}

tr td:nth-child(1) {
  font-weight: bold;
}

td {
  font-family: Helvetica Neue;
}
tbody{
  height:32px;
}

th{
  background: url(https://cdn.glitch.com/8b1beacc-937c-4072-93d6-4ae825ab1a7a%2Fleopardskin.jpg?1527763317245);
  font-family: Rock Salt;
  
}

caption {
  caption-side: bottom; 
  
}
.footer{
  background: url(https://cdn.glitch.com/8b1beacc-937c-4072-93d6-4ae825ab1a7a%2Fleopardskin.jpg?1527763317245);
  font-family: Rock Salt;
  height: 40px;
  padding: 10px 10px 20px 10px;
}
.one{
  text-align: right;
}
.two{
  text-align: left;
}
