table {
  border-color: #800080;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #e495e4;
  
}

tr:nth-child(odd) {
 background-color: #ff33cc; 

}

tr td:nth-child(1) {
  font-weight: bold;
}

td {
  font-family: Helvetica Neue;
}

th{
  background: url(https://cdn.glitch.com/8b1beacc-937c-4072-93d6-4ae825ab1a7a%2Fimage_0.png?1527761915609);
  font-family: Rock Salt;
}

caption {
  caption-side: bottom; 
  
}
.footer{
  background: url(https://cdn.glitch.com/8b1beacc-937c-4072-93d6-4ae825ab1a7a%2Fimage_0.png?1527761915609);
}
