tbody {
  background: url (table_body.jpg);
  border-color: #800080;
}

tr:nth-child(even) {
  background-color: #e495e4 ;
}

tr:nth-child(odd) {
 background-color: #ff33cc; 
}

th, 
tfoot {
  background: url(https://cdn.glitch.com/8b1beacc-937c-4072-93d6-4ae825ab1a7a%2Fimage_0.png?1527761915609);
  
}




